<div id="content" class="content-with-preloader container">
  <div class="row">
    <div id="us-creator" class="col s12 m12 l12"> 
      <div  class="card-panel">
        <div class="right">
          <a id="toggle-width" class="hide-on-med-and-downd persistent teal-text lighten-1">
            <i class="small material-icons">keyboard_arrow_right</i>
          </a>
        </div>

        <% if @classes.present? %>
          <%= render "shared/countdown", next_es: next_es_time,
            countdown_title: next_es(@classes)['name'] %>
        <% end %>

        <%= form_tag root_path, method: :get do %>
          <div class="input-field">
            <%= text_field_tag :student_id,
              params[:student_id] || session[:student_id],
              autocomplete: "off", class: "center-align",
              id: "student-id" %>
            <%= label_tag :student_id, "Mã số sinh viên",
              class: "#{'active' if session[:student_id]}" %>
          </div>
        <% end %>

        <% if @classes.blank? && session[:student_id] %>
          <h6 class="center-align red-text">
            Hệ thống không thể tìm thấy MSSV này :&#40;
          </h6>
        <% end %>
      </div>

      <% if @classes.present? %>
        <h4 class="center-align">Lịch thi của <%= @student['name'] %></h4>

        <div style="overflow-x: auto;">
          <table class="striped centered">
            <thead>
              <tr class="teal lighten-1 white-text">
                <th>Ngày thi</th>
                <th>Thứ</th>
                <th>Ca thi</th>
                <th>Môn thi</th>
                <th>SBD</th>
                <th>Phòng</th>
                <th>Ghi chú</th>
              </tr>
            </thead>

            <tbody>
              <%= render partial: "shared/cl", collection: @classes, as: :cl %>
            </tbody>
          </table>
        </div>

        <br/>
        <%= render "home/notifications" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-panel">
    <h5>Hoạt động gần đây (<%= Tracker.count %>)</h5> <br/>
    <%= render Tracker.recent %>
  </div>
</div>

<div id="comments" class="modal">
  <div class="modal-content">
    <div class="card">
      <h5 class="card-panel teal lighten-1 white-text">
        Nhận xét, góp ý

        <!-- Github Star -->
        <div class="right">
          <a class="github-button" 
             href="https://github.com/fongfan999/uit_es_creator" 
             data-icon="octicon-star" 
             data-size="large"
             data-show-count="true" 
             aria-label="Star fongfan999/uit_es_creator on GitHub">Star</a>
        </div>
      </h5>

      <%= render 'shared/facebook_comments',
        full_path: 'http://www.foxfizz.me/uit_es_creator' %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class=" modal-action modal-close waves-effect waves-light btn-flat persistent">Đóng</a>
  </div>
</div>

<div class="fixed-action-btn">
  <a href="#comments" class="btn-floating btn-large teal waves-effect waves-light">
    <i class="large material-icons">comment</i>
  </a>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>
