<div id="banner" class="card-panel teal lighten-1 white-text z-depth-0">
  <h5 class="right-align container">
    Hệ thống tạo lịch thi dành cho sinh viên UIT
  </h5>
</div>

<!-- <div class="center-align preloader">
  <%#= render "shared/circle_preloader" %>
</div> -->

<div id="content" class="content-with-preloader <%= 'container' if @result.blank? %>">
  <div class="row">
    <div id="us-creator" class="col s12 m12 l7"> 
      <div  class="card-panel">
        <div class="right">
          <a id="toggle-width" class="hide-on-med-and-down persistent teal-text lighten-1">
            <i class="material-icons">keyboard_arrow_right</i>
          </a>
        </div>

        <%= form_tag uit_es_creator_path, method: :get do %>
          <div class="input-field">
            <%= text_field_tag :student_id, params[:student_id],
              autocomplete: "off", class: "center-align" %>
            <%= label_tag :student_id, "Mã số sinh viên" %>
          </div>
        <% end %>

        <br>

        <% if @result.blank? && params[:student_id] %>
          <h6 class="center-align">Hệ thống không thể tìm thấy MSSV này :&#40;</h6>
        <% elsif @result.present? %>
          <div id="schedule">
            <h4 class="center-align">
              Lịch thi của <%= @full_name %>
            </h4>
            
            <div style="overflow-x: auto;">
              <table class="striped">
                <thead>
                  <tr>
                    <th>Ngày thi</th>
                    <th>Thứ</th>
                    <th>Ca thi</th>
                    <th>Môn thi</th>
                    <th>Số báo danh</th>
                    <th>Phòng</th>
                    <th>Ghi chú</th>
                  </tr>
                </thead>

                <tbody>
                  <% @result.each do |class_code, data| %>
                  <% student = data['students'][params[:student_id]] %>
                  <tr>
                    <td><%= data['date'] %></td>
                    <td><%= data['day'] %></td>
                    <td><%= data['shift'] %></td>
                    <td><%= data['name'] %></td>
                    <td><%= student['id_number'] %></td>
                    <td><%= "#{data['room']} (#{data['sum']})" %></td>
                    <td><%= student['note'] %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  
    <div id="notifs" class="col s12 m12 l5">
      <% if @result.present? %>
        <div class="card">
          <div class="title">Thông báo</div>

          <ul class="tabs row">
            <li class="tab col s6 m6 l6">
              <a href="#general-notifs" class="">chung</a>
            </li>
            <li class="tab col s6 m6 l6">
              <a href="#off-class-notifs" class="active ">nghỉ (bù)</a>
            </li>
          </ul>
          
          <div id="general-notifs">
            <ul class="collapsible popout" data-collapsible="accordion">
              <!-- Dislay relevant notification only -->
              <% @notifs_data[0..9].each do |notif| %>
                <%= render(partial: "notifs/notif", locals: { notif: notif }) %>
              <% end %>
            </ul>
          </div>

          <div id="off-class-notifs">
            <ul class="collapsible popout" data-collapsible="accordion">
              <!-- Dislay relevant notification only -->
              <% @notifs_data[10..-1].each_with_index do |notif, index| %>
                <% if @class_codes.find { |c| notif['title'] =~ /#{c}/ } %>
                  <%= render(partial: "notifs/notif", locals: { notif: notif }) %>
                <% end %>
              <% end %>
            </ul>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <h5 class="card-panel teal lighten-1 white-text">Nhận xét, góp ý</h5>
    <%= render 'facebook_comment', full_path: uit_es_creator_url %>
  </div>
</div>

<%= render 'application/facebook_comments_sdk' %>

