<!DOCTYPE html>
<html>
  <head>
    <title>UIT ES Creator - Hệ thống tạo lịch thi dành cho sinh viên UIT - FoxFizz - UESC</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="fb:app_id" content="1340690532621760" />
    <meta property="og:title" content="UIT ES Creator - FoxFizz - UESC" />
    <meta property="og:description" content="Hệ thống tạo lịch thi dành cho sinh viên UIT" />
    <meta property="og:image" content="http://i.imgur.com/izAvK7y.png" />
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless session[:student_id] %>
      <div id="countdown">
        <a href="#" class="close-countdown"><i class="material-icons">close</i></a>
        <h4>Hệ thống có thể sẽ được cập nhật vào 01/03/2017.</h4>
        <h6>Cảm ơn các bạn đã tin tưởng và sử dụng hệ thống :&#41;.</h6>

        <ul>
          <li class="days chart" data-percent="0"><span>00</span>Ngày</li>
          <li class="hours chart" data-percent="0"><span>00</span>Giờ</li>
          <li class="minutes chart" data-percent="0"><span>00</span>Phút</li>
          <li class="seconds chart" data-percent="0"><span>00</span>Giây</li>
        </ul>
        
        <h5>CHÚC MỪNG NĂM MỚI</h5>

        <p>
          <span>#foxfizz</span>
          <span>#uesc</span>
          <span>#uit_es_creator</span>
        </p>
      </div>
    <% end %>

    <div class="navbar-fixed">
      <nav class="teal lighten-1 z-depth-0">
        <div class="nav-wrapper container">
          <%= link_to root_path, class: "brand-logo" do %>
            <i class="material-icons">event_note</i>
            <span class="hide-on-small-only">UIT ES Creator</span>
          <% end %>

          <ul class="right">
            <li>
              <%= link_to "https://github.com/fongfan999/uit_es_creator/issues", class: "tooltipped", data: { tooltip: "Báo lỗi",
                delay: 100 }, target: "blank" do %>
                <i class="material-icons">info_outline</i>
              <% end %>
              
            </li>
            <li>
              <%= link_to "https://fb.com/sharer.php?u=http://uesc.foxfizz.com/",
                onclick: "window.open(this.href, true, 'height=500,width=500')",
                class: "persistent tooltipped", data: { tooltip: "Chia sẻ",
                delay: 100 } do %>
                <i class="material-icons">share</i>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>  
    </div>

    <div id="main">
      <%= yield %>
    </div>

    <footer class="page-footer teal lighten-1">
      <div class="footer-copyright">
        <div class="container">
          © 2017 FoxFizz, Inc
          <a class="grey-text text-lighten-4 right" target="blank" href="https://github.com/fongfan999/uit_es_creator">GitHub</a>
        </div>
      </div>
    </footer>
  </body>
</html>
