<!DOCTYPE html>
<html>
  <head>
    <title>UIT ES Creator - Hệ thống tạo lịch thi cho sinh viên trường UIT</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="teal lighten-1 z-depth-0">
        <div class="nav-wrapper container">
          <%= link_to uit_es_creator_path, class: "brand-logo" do %>
            <%= image_tag 'logo.png', size: '36x36' %>
            <span class="hide-on-small-only">UIT ES Creator</span>
          <% end %>

          <ul class="right">
            <li>
              <%= link_to "https://github.com/fongfan999/uit_es_creator/issues", class: "tooltipped", data: { tooltip: "Báo lỗi",
                delay: 100 }, target: "blank" do %>
                <i class="material-icons">info_outline</i>
              <% end %>
              
            </li>
            <li>
              <%= link_to "https://fb.com/sharer.php?u=http://www.foxfizz.me/uit_es_creator",
                onclick: "window.open(this.href, true, 'height=500,width=500')",
                class: "persistent tooltipped", data: { tooltip: "Chia sẻ",
                delay: 100 } do %>
                <i class="material-icons">share</i>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>  
    </div>

    <div id="main">
      <%= yield %>
    </div>

    <footer class="page-footer teal lighten-1">
      <div class="footer-copyright">
        <div class="container">
          © 2016 FoxFizz, Inc
          <a class="grey-text text-lighten-4 right" target="blank" href="https://github.com/fongfan999/uit_es_creator">GitHub</a>
        </div>
      </div>
    </footer>
  </body>
</html>
